# ----------------------------
# Настройки HTTP-сервера
# ----------------------------
HTTP_HOST=${ASSEMBLY_HTTP_HOST}
HTTP_PORT=${ASSEMBLY_HTTP_PORT}

# ----------------------------
# Kafka настройки
# ----------------------------

KAFKA_BROKERS=${ASSEMBLY_KAFKA_BROKERS}
KAFKA_ORDER_PAID_TOPIC=${ASSEMBLY_ORDER_PAID_TOPIC_NAME}
KAFKA_ORDER_PAID_GROUP_ID=${ASSEMBLY_ORDER_PAID_CONSUMER_GROUP_ID}
KAFKA_SHIP_ASSEMBLED_TOPIC=${ASSEMBLY_ORDER_ASSEMBLED_TOPIC_NAME}

# ----------------------------
# Настройки логгера
# ----------------------------

LOGGER_LEVEL=${ASSEMBLY_LOGGER_LEVEL}
LOGGER_AS_JSON=${ASSEMBLY_LOGGER_AS_JSON}
LOG_OUTPUTS=${CORE_LOG_OUTPUTS}
OTEL_COLLECTOR_ENDPOINT=${CORE_OTEL_COLLECTOR_ENDPOINT}
SERVICE_NAME=assembly-service