# ----------------------------
# Kafka настройки
# ----------------------------

KAFKA_BROKERS=${ASSEMBLY_KAFKA_BROKERS}
KAFKA_ORDER_PAID_TOPIC=${ASSEMBLY_ORDER_PAID_TOPIC_NAME}
KAFKA_ORDER_PAID_GROUP_ID=${ASSEMBLY_ORDER_PAID_CONSUMER_GROUP_ID}
KAFKA_SHIP_ASSEMBLED_TOPIC=${ASSEMBLY_ORDER_ASSEMBLED_TOPIC_NAME}

# ----------------------------
# Настройки логгера
# ----------------------------

# Уровень логирования (debug, info, warn, error)
LOGGER_LEVEL=${ASSEMBLY_LOGGER_LEVEL}

# Выводить логи в формате JSON (true/false)
LOGGER_AS_JSON=${ASSEMBLY_LOGGER_AS_JSON}
