# ----------------------------
# Настройки HTTP-сервера
# ----------------------------

HTTP_HOST=${IAM_HTTP_HOST}

HTTP_PORT=${IAM_HTTP_PORT}

HTTP_READ_TIMEOUT=${IAM_HTTP_READ_TIMEOUT}

# ----------------------------
# Настройки логгера
# ----------------------------

LOGGER_LEVEL=${IAM_LOGGER_LEVEL}

LOGGER_AS_JSON=${IAM_LOGGER_AS_JSON}

LOG_OUTPUTS=${CORE_LOG_OUTPUTS}

OTEL_COLLECTOR_ENDPOINT=${CORE_OTEL_COLLECTOR_ENDPOINT}

SERVICE_NAME=iam-service

# ----------------------------
# Настройки PostgreSQL
# ----------------------------

POSTGRES_HOST=${IAM_POSTGRES_HOST}

POSTGRES_PORT=${IAM_POSTGRES_PORT}

EXTERNAL_POSTGRES_PORT=${IAM_EXTERNAL_POSTGRES_PORT}

POSTGRES_HOST_EXTERNAL=localhost

POSTGRES_USER=${IAM_POSTGRES_USER}

POSTGRES_PASSWORD=${IAM_POSTGRES_PASSWORD}

POSTGRES_DB=${IAM_POSTGRES_DB}

POSTGRES_SSL_MODE=${IAM_POSTGRES_SSL_MODE}

MIGRATION_DIRECTORY=${IAM_MIGRATION_DIRECTORY}

# ----------------------------
# Сессии
# ----------------------------

SESSION_TTL=${IAM_SESSION_TTL}
