# ----------------------------
# Настройки gRPC-сервера
# ----------------------------

GRPC_HOST=${INVENTORY_GRPC_HOST}

GRPC_PORT=${INVENTORY_GRPC_PORT}

# ----------------------------
# Настройки логгера
# ----------------------------

LOGGER_LEVEL=${INVENTORY_LOGGER_LEVEL}

LOGGER_AS_JSON=${INVENTORY_LOGGER_AS_JSON}

# ----------------------------
# Настройки MongoDB
# ----------------------------

MONGO_IMAGE_NAME=${INVENTORY_MONGO_IMAGE_NAME}

EXTERNAL_MONGO_PORT=${INVENTORY_EXTERNAL_MONGO_PORT}

MONGO_HOST=${INVENTORY_MONGO_HOST}

MONGO_PORT=${INVENTORY_MONGO_PORT}

MONGO_DATABASE=${INVENTORY_MONGO_INITDB_DATABASE}

MONGO_AUTH_DB=${INVENTORY_MONGO_AUTH_DB}

MONGO_INITDB_ROOT_USERNAME=${INVENTORY_MONGO_INITDB_ROOT_USERNAME}

MONGO_INITDB_ROOT_PASSWORD=${INVENTORY_MONGO_INITDB_ROOT_PASSWORD}

DB_URI=mongodb://${INVENTORY_MONGO_INITDB_ROOT_USERNAME}:${INVENTORY_MONGO_INITDB_ROOT_PASSWORD}@inventory_mongo:27017/${INVENTORY_MONGO_INITDB_DATABASE}?authSource=${INVENTORY_MONGO_AUTH_DB}