# ----------------------------
# Настройки gRPC-сервера
# ----------------------------

GRPC_HOST=${PAYMENT_GRPC_HOST}

GRPC_PORT=${PAYMENT_GRPC_PORT}

# ----------------------------
# Настройки логгера
# ----------------------------

LOGGER_LEVEL=${PAYMENT_LOGGER_LEVEL}

LOGGER_AS_JSON=${PAYMENT_LOGGER_AS_JSON}

LOG_OUTPUTS=${CORE_LOG_OUTPUTS}

OTEL_COLLECTOR_ENDPOINT=${CORE_OTEL_COLLECTOR_ENDPOINT}

SERVICE_NAME=payment-service